@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Audiowide&&family=Play:wght@700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 6vh;
  padding: 20px 50px 20px 50px;
  /* position: fixed; */
}

.logo {
  font-family: 'Audiowide', cursive;
  font-size: 23pt;
  width: 30%;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.links-container a {
  color: black;
  text-decoration: none;
  border: 2pt solid white;
  padding: 3px 7px 3px 7px;
}
.links-container a:hover {
  transition: 0.5s ease;
  border: 2pt solid black;
  border-radius: 0.25rem;
}

.navbar-socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.icons {
  color: red;
}

.links-container p,
.navbar-socialIcons p,
.navbar-menu_container p {
  color: #9e4141;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  /* margin: 0 1rem; */
  cursor: pointer;
}

.navbar-menu {
  display: none;
  position: relative;
}
.navbar-menu:hover {
  cursor: pointer;
}

.navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  color: red;

  text-align: end;
  background: white;
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}
.navbar-menu a {
  color: black;
  text-decoration: none;
  border-bottom: 2pt solid white;
  padding: 5px;
}
.navbar-menu a:hover {
  transition: 0.3s ease;
  border-bottom: 2pt solid dodgerblue;
}

.navbar-menu_container p {
  margin: 1rem 0;
}

@media screen and (max-width: 1050px) {
  .links-container {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 2rem;
  }
  .navbar-socialIcons {
    display: none;
  }

  .navbar-menu_container {
    top: 20px;
  }

  .navbar-menu_container-links-socialIcons {
    display: block;
  }
}
